*{
    margin: 0;
    padding: 0;
}

:root{
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}


body{
    font-family: 'Roboto', sans-serif;
}

.hero img{
    width: 100%;
}